@model MVC_Northwind.Models.Employee
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">@Model.TitleOfCourtesy@Model.FirstName @Model.LastName</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="@Model.PhotoPath" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">@Model.FirstName @Model.LastName</h5>
                    <div class="card-text text-black-50">@Model.Title</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Ünvan</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = Model.Title })
                </div>
                <div class="form-group">
                    <label>Adı</label>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = Model.FirstName })
                </div>
                <div class="form-group">
                    <label>Soyadı</label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = Model.LastName })
                </div>
                <div class="form-group">
                    <label>Doğum Tarihi</label>
                    @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", placeholder = Model.BirthDate })
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    @Html.TextBoxFor(x => x.HomePhone, new { @class = "form-control", placeholder = Model.HomePhone })
                </div>
                <div class="form-group">
                    <label>Fotoğraf Yolu</label>
                    @Html.TextBoxFor(x => x.PhotoPath, new { @class = "form-control", placeholder = Model.PhotoPath })
                </div>

                <input type="submit" name="Gönderici" class="btn btn-primary" value="Güncelle" />





            }
          
        </div>

    </div>
    <!-- /.row -->

</div>
